<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_yYekAG8LEeOF2v1EKwQ2xg" specification="interface C:&#xA;&#xA;  in event right&#xA;  in event up&#xA;  in event left  &#xA;&#xA;  //for Timer&#xA;  var memTimer: integer&#xA;  var timer: integer&#xA;  var ring: boolean&#xA;    &#xA;  //for Stopwatch&#xA;  var totalTime: integer&#xA;  var lapTime: integer&#xA;  &#xA;" name="Chronometer">
    <regions xmi:id="_yYekA28LEeOF2v1EKwQ2xg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_yYfyIW8LEeOF2v1EKwQ2xg">
        <outgoingTransitions xmi:id="_F_DiAG8MEeOF2v1EKwQ2xg" specification="" target="_BF3lgG8MEeOF2v1EKwQ2xg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BF3lgG8MEeOF2v1EKwQ2xg" name="Timer" incomingTransitions="_F_DiAG8MEeOF2v1EKwQ2xg">
        <outgoingTransitions xmi:id="_NX00cG8OEeOF2v1EKwQ2xg" specification="C.left" target="_MO3oUG8OEeOF2v1EKwQ2xg"/>
        <regions xmi:id="_BF4MkW8MEeOF2v1EKwQ2xg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_MRPRwG8MEeOF2v1EKwQ2xg" specification="" name="Idle" incomingTransitions="_sSjcsG8NEeOF2v1EKwQ2xg _fe9HAG8QEeOF2v1EKwQ2xg _KRnkWPZlEeSXQ-FYirTNkw _538nMPZkEeSXQ-FYirTNkw">
            <outgoingTransitions xmi:id="_QEHtgG8MEeOF2v1EKwQ2xg" specification="C.right&#xA;" target="_QEA_0G8MEeOF2v1EKwQ2xg"/>
            <outgoingTransitions xmi:id="_XdkqgG8QEeOF2v1EKwQ2xg" specification="C.up[C.memTimer>0]/ &#xA;C.timer = C.memTimer" target="_D10AwG8QEeOF2v1EKwQ2xg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_QEA_0G8MEeOF2v1EKwQ2xg" specification="every 1 s / C.memTimer = C.memTimer +1&#xA;" name="SetTimer" incomingTransitions="_QEHtgG8MEeOF2v1EKwQ2xg _5raUMG8NEeOF2v1EKwQ2xg _6KMh8G8NEeOF2v1EKwQ2xg">
            <outgoingTransitions xmi:id="_sSjcsG8NEeOF2v1EKwQ2xg" specification="C.right" target="_MRPRwG8MEeOF2v1EKwQ2xg"/>
            <outgoingTransitions xmi:id="_5raUMG8NEeOF2v1EKwQ2xg" specification="C.up / C.memTimer = C.memTimer +5&#xA;" target="_QEA_0G8MEeOF2v1EKwQ2xg"/>
            <outgoingTransitions xmi:id="_6KMh8G8NEeOF2v1EKwQ2xg" specification="C.left / C.memTimer = 0" target="_QEA_0G8MEeOF2v1EKwQ2xg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_gMZGWFRCEeSqd5gSFVgpoA" name="timerHistory" incomingTransitions="_gMYfUVRCEeSqd5gSFVgpoA" kind="DEEP_HISTORY">
            <outgoingTransitions xmi:id="_538nMPZkEeSXQ-FYirTNkw" specification="" target="_MRPRwG8MEeOF2v1EKwQ2xg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_D10AwG8QEeOF2v1EKwQ2xg" name="T_Active" incomingTransitions="_XdkqgG8QEeOF2v1EKwQ2xg">
            <outgoingTransitions xmi:id="_fe9HAG8QEeOF2v1EKwQ2xg" specification="C.right / C.timer = C.memTimer" target="_MRPRwG8MEeOF2v1EKwQ2xg"/>
            <regions xmi:id="_D10n0G8QEeOF2v1EKwQ2xg" name="r1">
              <vertices xsi:type="sgraph:Entry" xmi:id="_Imtj8G8QEeOF2v1EKwQ2xg">
                <outgoingTransitions xmi:id="_JnxYUG8QEeOF2v1EKwQ2xg" specification="" target="_JFl4UG8QEeOF2v1EKwQ2xg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_JFl4UG8QEeOF2v1EKwQ2xg" specification="every 1 s / C.timer = C.timer -1&#xA;" name="Running" incomingTransitions="_JnxYUG8QEeOF2v1EKwQ2xg _Pi1BgG8QEeOF2v1EKwQ2xg">
                <outgoingTransitions xmi:id="_N25rMG8QEeOF2v1EKwQ2xg" specification="C.up" target="_MNCKYG8QEeOF2v1EKwQ2xg"/>
                <outgoingTransitions xmi:id="_RHrwYG8ZEeOF2v1EKwQ2xg" specification="[C.timer==0]" target="_N6-j0G8ZEeOF2v1EKwQ2xg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_MNCKYG8QEeOF2v1EKwQ2xg" name="Paused" incomingTransitions="_N25rMG8QEeOF2v1EKwQ2xg">
                <outgoingTransitions xmi:id="_Pi1BgG8QEeOF2v1EKwQ2xg" specification="C.up" target="_JFl4UG8QEeOF2v1EKwQ2xg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_N6-j0G8ZEeOF2v1EKwQ2xg" specification="entry / C.ring = true&#xA;exit / C.ring = false" name="Ringing" incomingTransitions="_RHrwYG8ZEeOF2v1EKwQ2xg"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_KRnkUPZlEeSXQ-FYirTNkw">
            <outgoingTransitions xmi:id="_KRnkWPZlEeSXQ-FYirTNkw" specification="" target="_MRPRwG8MEeOF2v1EKwQ2xg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_IE83gG8MEeOF2v1EKwQ2xg" name="Stopwatch">
        <outgoingTransitions xmi:id="_gMYfUVRCEeSqd5gSFVgpoA" specification="C.left" target="_gMZGWFRCEeSqd5gSFVgpoA"/>
        <regions xmi:id="_IE-FoG8MEeOF2v1EKwQ2xg" name="r2">
          <vertices xsi:type="sgraph:Entry" xmi:id="_MO3oUG8OEeOF2v1EKwQ2xg" name="" incomingTransitions="_NX00cG8OEeOF2v1EKwQ2xg" kind="DEEP_HISTORY">
            <outgoingTransitions xmi:id="_vIzboG8OEeOF2v1EKwQ2xg" specification="" target="_oqDPgG8OEeOF2v1EKwQ2xg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_oqDPgG8OEeOF2v1EKwQ2xg" specification="entry / C.totalTime = 0;&#xA;            C.lapTime = 0" name="Reset" incomingTransitions="_vIzboG8OEeOF2v1EKwQ2xg _8tfvsG8OEeOF2v1EKwQ2xg">
            <outgoingTransitions xmi:id="_YcATkG8OEeOF2v1EKwQ2xg" specification="C.up" target="_1GIVsG8OEeOF2v1EKwQ2xg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_1GIVsG8OEeOF2v1EKwQ2xg" specification="every 1 s / C.totalTime = C.totalTime+1" name="Running" incomingTransitions="_PjJVIG8REeOF2v1EKwQ2xg _RNMcIG8REeOF2v1EKwQ2xg _YcATkG8OEeOF2v1EKwQ2xg">
            <outgoingTransitions xmi:id="_8tfvsG8OEeOF2v1EKwQ2xg" specification="C.right" target="_oqDPgG8OEeOF2v1EKwQ2xg"/>
            <outgoingTransitions xmi:id="_Ex4yAG8REeOF2v1EKwQ2xg" specification="C.up / C.lapTime = C.totalTime" target="_DZO9AG8REeOF2v1EKwQ2xg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_DZO9AG8REeOF2v1EKwQ2xg" specification="every 1 s / C.totalTime = C.totalTime+1" name="Laptime" incomingTransitions="_Ex4yAG8REeOF2v1EKwQ2xg">
            <outgoingTransitions xmi:id="_PjJVIG8REeOF2v1EKwQ2xg" specification="C.up" target="_1GIVsG8OEeOF2v1EKwQ2xg"/>
            <outgoingTransitions xmi:id="_RNMcIG8REeOF2v1EKwQ2xg" specification="after 5 s" target="_1GIVsG8OEeOF2v1EKwQ2xg"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_yYekAW8LEeOF2v1EKwQ2xg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_yYekAG8LEeOF2v1EKwQ2xg" measurementUnit="Pixel">
    <children xmi:id="_yYekBG8LEeOF2v1EKwQ2xg" type="Region" element="_yYekA28LEeOF2v1EKwQ2xg">
      <children xsi:type="notation:DecorationNode" xmi:id="_yYfLEm8LEeOF2v1EKwQ2xg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yYfLE28LEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yYfLFG8LEeOF2v1EKwQ2xg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yYfLFW8LEeOF2v1EKwQ2xg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_yYfyIm8LEeOF2v1EKwQ2xg" type="Entry" element="_yYfyIW8LEeOF2v1EKwQ2xg">
          <children xmi:id="_yYgZMG8LEeOF2v1EKwQ2xg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_yYgZM28LEeOF2v1EKwQ2xg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yYgZNG8LEeOF2v1EKwQ2xg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_yYgZNW8LEeOF2v1EKwQ2xg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yYgZMW8LEeOF2v1EKwQ2xg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yYgZMm8LEeOF2v1EKwQ2xg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yYfyI28LEeOF2v1EKwQ2xg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yYgZNm8LEeOF2v1EKwQ2xg" x="70" y="46" width="15" height="15"/>
        </children>
        <children xmi:id="_BF6BwG8MEeOF2v1EKwQ2xg" type="State" element="_BF3lgG8MEeOF2v1EKwQ2xg">
          <children xsi:type="notation:DecorationNode" xmi:id="_BF6o0G8MEeOF2v1EKwQ2xg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BF6o0W8MEeOF2v1EKwQ2xg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BF6o0m8MEeOF2v1EKwQ2xg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BF6o028MEeOF2v1EKwQ2xg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BF7P4G8MEeOF2v1EKwQ2xg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BF7P4W8MEeOF2v1EKwQ2xg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BF7P4m8MEeOF2v1EKwQ2xg" type="StateFigureCompartment">
            <children xmi:id="_hVKS4GjsEeWXrNiQgBpBVw" type="Region" element="_BF4MkW8MEeOF2v1EKwQ2xg">
              <children xsi:type="notation:DecorationNode" xmi:id="_hVKS4WjsEeWXrNiQgBpBVw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_hVKS4mjsEeWXrNiQgBpBVw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_hVKS42jsEeWXrNiQgBpBVw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_hVKS5GjsEeWXrNiQgBpBVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_hVKS5WjsEeWXrNiQgBpBVw" type="State" element="_MRPRwG8MEeOF2v1EKwQ2xg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hVKS5mjsEeWXrNiQgBpBVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hVKS52jsEeWXrNiQgBpBVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hVKS6GjsEeWXrNiQgBpBVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVKS6WjsEeWXrNiQgBpBVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hVKS6mjsEeWXrNiQgBpBVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVKS62jsEeWXrNiQgBpBVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVKS7GjsEeWXrNiQgBpBVw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hVKS7WjsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hVKS7mjsEeWXrNiQgBpBVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVKS72jsEeWXrNiQgBpBVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVKS8GjsEeWXrNiQgBpBVw" x="37" y="13" width="50" height="50"/>
                </children>
                <children xmi:id="_hVKS8WjsEeWXrNiQgBpBVw" type="State" element="_QEA_0G8MEeOF2v1EKwQ2xg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hVKS8mjsEeWXrNiQgBpBVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hVKS82jsEeWXrNiQgBpBVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hVKS9GjsEeWXrNiQgBpBVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVKS9WjsEeWXrNiQgBpBVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hVKS9mjsEeWXrNiQgBpBVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVKS92jsEeWXrNiQgBpBVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVKS-GjsEeWXrNiQgBpBVw" type="StateFigureCompartment" collapsed="true"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hVKS-WjsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hVKS-mjsEeWXrNiQgBpBVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVKS-2jsEeWXrNiQgBpBVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVKS_GjsEeWXrNiQgBpBVw" x="136" y="7" width="276" height="65"/>
                </children>
                <children xmi:id="_hVKS_WjsEeWXrNiQgBpBVw" type="ShallowHistory" element="_gMZGWFRCEeSqd5gSFVgpoA">
                  <children xmi:id="_hVKS_mjsEeWXrNiQgBpBVw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_hVKS_2jsEeWXrNiQgBpBVw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK58GjsEeWXrNiQgBpBVw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK58WjsEeWXrNiQgBpBVw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK58mjsEeWXrNiQgBpBVw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK582jsEeWXrNiQgBpBVw" x="19" y="1"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK59GjsEeWXrNiQgBpBVw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK59WjsEeWXrNiQgBpBVw" x="36" y="272" width="15" height="15"/>
                </children>
                <children xmi:id="_hVK59mjsEeWXrNiQgBpBVw" type="State" element="_D10AwG8QEeOF2v1EKwQ2xg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hVK592jsEeWXrNiQgBpBVw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK5-GjsEeWXrNiQgBpBVw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK5-WjsEeWXrNiQgBpBVw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVK5-mjsEeWXrNiQgBpBVw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hVK5-2jsEeWXrNiQgBpBVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK5_GjsEeWXrNiQgBpBVw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVK5_WjsEeWXrNiQgBpBVw" type="StateFigureCompartment">
                    <children xmi:id="_hVK5_mjsEeWXrNiQgBpBVw" type="Region" element="_D10n0G8QEeOF2v1EKwQ2xg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_hVK5_2jsEeWXrNiQgBpBVw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6AGjsEeWXrNiQgBpBVw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK6AWjsEeWXrNiQgBpBVw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_hVK6AmjsEeWXrNiQgBpBVw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_hVK6A2jsEeWXrNiQgBpBVw" type="Entry" element="_Imtj8G8QEeOF2v1EKwQ2xg">
                          <children xmi:id="_hVK6BGjsEeWXrNiQgBpBVw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_hVK6BWjsEeWXrNiQgBpBVw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6BmjsEeWXrNiQgBpBVw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK6B2jsEeWXrNiQgBpBVw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6CGjsEeWXrNiQgBpBVw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6CWjsEeWXrNiQgBpBVw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6CmjsEeWXrNiQgBpBVw" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6C2jsEeWXrNiQgBpBVw" x="2" y="-2"/>
                        </children>
                        <children xmi:id="_hVK6DGjsEeWXrNiQgBpBVw" type="State" element="_JFl4UG8QEeOF2v1EKwQ2xg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_hVK6DWjsEeWXrNiQgBpBVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6DmjsEeWXrNiQgBpBVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK6D2jsEeWXrNiQgBpBVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hVK6EGjsEeWXrNiQgBpBVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_hVK6EWjsEeWXrNiQgBpBVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6EmjsEeWXrNiQgBpBVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hVK6E2jsEeWXrNiQgBpBVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6FGjsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_hVK6FWjsEeWXrNiQgBpBVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVK6FmjsEeWXrNiQgBpBVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6F2jsEeWXrNiQgBpBVw" x="41" y="-8"/>
                        </children>
                        <children xmi:id="_hVK6GGjsEeWXrNiQgBpBVw" type="State" element="_MNCKYG8QEeOF2v1EKwQ2xg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_hVK6GWjsEeWXrNiQgBpBVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6GmjsEeWXrNiQgBpBVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK6G2jsEeWXrNiQgBpBVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hVK6HGjsEeWXrNiQgBpBVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_hVK6HWjsEeWXrNiQgBpBVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6HmjsEeWXrNiQgBpBVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hVK6H2jsEeWXrNiQgBpBVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6IGjsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_hVK6IWjsEeWXrNiQgBpBVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVK6ImjsEeWXrNiQgBpBVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6I2jsEeWXrNiQgBpBVw" x="275" y="-1"/>
                        </children>
                        <children xmi:id="_hVK6JGjsEeWXrNiQgBpBVw" type="State" element="_N6-j0G8ZEeOF2v1EKwQ2xg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_hVK6JWjsEeWXrNiQgBpBVw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6JmjsEeWXrNiQgBpBVw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK6J2jsEeWXrNiQgBpBVw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hVK6KGjsEeWXrNiQgBpBVw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_hVK6KWjsEeWXrNiQgBpBVw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6KmjsEeWXrNiQgBpBVw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_hVK6K2jsEeWXrNiQgBpBVw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6LGjsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_hVK6LWjsEeWXrNiQgBpBVw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVK6LmjsEeWXrNiQgBpBVw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6L2jsEeWXrNiQgBpBVw" x="272" y="50"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6MGjsEeWXrNiQgBpBVw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6MWjsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6MmjsEeWXrNiQgBpBVw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6M2jsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hVK6NGjsEeWXrNiQgBpBVw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVK6NWjsEeWXrNiQgBpBVw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6NmjsEeWXrNiQgBpBVw" x="136" y="118" width="457" height="195"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_hVK6N2jsEeWXrNiQgBpBVw" type="Note" fontName="Verdana" description="with UML's &quot;inner first&quot; semantics, this transition would take precedence over the transition C.left going to the History state of Stopwatch." fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_hVK6OGjsEeWXrNiQgBpBVw" type="DiagramName">
                    <element xsi:nil="true"/>
                  </children>
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_hVK6OWjsEeWXrNiQgBpBVw" type="Description">
                    <element xsi:nil="true"/>
                  </children>
                  <styles xsi:type="notation:TextStyle" xmi:id="_hVK6OmjsEeWXrNiQgBpBVw"/>
                  <styles xsi:type="notation:LineTypeStyle" xmi:id="_hVK6O2jsEeWXrNiQgBpBVw"/>
                  <element xsi:nil="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6PGjsEeWXrNiQgBpBVw" x="473" y="-13" width="127" height="100"/>
                </children>
                <children xmi:id="_hVK6PWjsEeWXrNiQgBpBVw" type="Entry" element="_KRnkUPZlEeSXQ-FYirTNkw">
                  <children xmi:id="_hVK6PmjsEeWXrNiQgBpBVw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_hVK6P2jsEeWXrNiQgBpBVw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6QGjsEeWXrNiQgBpBVw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_hVK6QWjsEeWXrNiQgBpBVw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6QmjsEeWXrNiQgBpBVw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6Q2jsEeWXrNiQgBpBVw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6RGjsEeWXrNiQgBpBVw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6RWjsEeWXrNiQgBpBVw" x="52" y="-13"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6RmjsEeWXrNiQgBpBVw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_hVK6R2jsEeWXrNiQgBpBVw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVK6SGjsEeWXrNiQgBpBVw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BF6BwW8MEeOF2v1EKwQ2xg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BF6Bwm8MEeOF2v1EKwQ2xg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BF728G8MEeOF2v1EKwQ2xg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BF6Bw28MEeOF2v1EKwQ2xg" x="125" width="638" height="403"/>
        </children>
        <children xmi:id="_IE_TwG8MEeOF2v1EKwQ2xg" type="State" element="_IE83gG8MEeOF2v1EKwQ2xg">
          <children xsi:type="notation:DecorationNode" xmi:id="_IE_60m8MEeOF2v1EKwQ2xg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IE_6028MEeOF2v1EKwQ2xg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_IFAh4G8MEeOF2v1EKwQ2xg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_IFAh4W8MEeOF2v1EKwQ2xg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_IFAh4m8MEeOF2v1EKwQ2xg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IFAh428MEeOF2v1EKwQ2xg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_IFBI8G8MEeOF2v1EKwQ2xg" type="StateFigureCompartment">
            <children xmi:id="_U1nkwFYvEeW1S_zSYJfW8Q" type="Region" element="_IE-FoG8MEeOF2v1EKwQ2xg">
              <children xsi:type="notation:DecorationNode" xmi:id="_U1nkwVYvEeW1S_zSYJfW8Q" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nkwlYvEeW1S_zSYJfW8Q"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_U1nkw1YvEeW1S_zSYJfW8Q"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_U1nkxFYvEeW1S_zSYJfW8Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_U1nkxVYvEeW1S_zSYJfW8Q" type="ShallowHistory" element="_MO3oUG8OEeOF2v1EKwQ2xg">
                  <children xmi:id="_U1nkxlYvEeW1S_zSYJfW8Q" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_U1nkx1YvEeW1S_zSYJfW8Q" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nkyFYvEeW1S_zSYJfW8Q"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_U1nkyVYvEeW1S_zSYJfW8Q"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nkylYvEeW1S_zSYJfW8Q" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nky1YvEeW1S_zSYJfW8Q"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nkzFYvEeW1S_zSYJfW8Q" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nkzVYvEeW1S_zSYJfW8Q" x="165" y="-28" width="15" height="15"/>
                </children>
                <children xmi:id="_U1nkzlYvEeW1S_zSYJfW8Q" type="State" element="_oqDPgG8OEeOF2v1EKwQ2xg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_U1nkz1YvEeW1S_zSYJfW8Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk0FYvEeW1S_zSYJfW8Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_U1nk0VYvEeW1S_zSYJfW8Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U1nk0lYvEeW1S_zSYJfW8Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_U1nk01YvEeW1S_zSYJfW8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk1FYvEeW1S_zSYJfW8Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U1nk1VYvEeW1S_zSYJfW8Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk1lYvEeW1S_zSYJfW8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_U1nk11YvEeW1S_zSYJfW8Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U1nk2FYvEeW1S_zSYJfW8Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk2VYvEeW1S_zSYJfW8Q" x="-15" y="-6" width="145" height="54"/>
                </children>
                <children xmi:id="_U1nk2lYvEeW1S_zSYJfW8Q" type="State" element="_1GIVsG8OEeOF2v1EKwQ2xg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_U1nk21YvEeW1S_zSYJfW8Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk3FYvEeW1S_zSYJfW8Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_U1nk3VYvEeW1S_zSYJfW8Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U1nk3lYvEeW1S_zSYJfW8Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_U1nk31YvEeW1S_zSYJfW8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk4FYvEeW1S_zSYJfW8Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U1nk4VYvEeW1S_zSYJfW8Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk4lYvEeW1S_zSYJfW8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_U1nk41YvEeW1S_zSYJfW8Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U1nk5FYvEeW1S_zSYJfW8Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk5VYvEeW1S_zSYJfW8Q" x="228" y="-5"/>
                </children>
                <children xmi:id="_U1nk5lYvEeW1S_zSYJfW8Q" type="State" element="_DZO9AG8REeOF2v1EKwQ2xg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_U1nk51YvEeW1S_zSYJfW8Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk6FYvEeW1S_zSYJfW8Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_U1nk6VYvEeW1S_zSYJfW8Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U1nk6lYvEeW1S_zSYJfW8Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_U1nk61YvEeW1S_zSYJfW8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk7FYvEeW1S_zSYJfW8Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U1nk7VYvEeW1S_zSYJfW8Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk7lYvEeW1S_zSYJfW8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_U1nk71YvEeW1S_zSYJfW8Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U1nk8FYvEeW1S_zSYJfW8Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk8VYvEeW1S_zSYJfW8Q" x="487" y="-5"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk8lYvEeW1S_zSYJfW8Q"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_U1nk81YvEeW1S_zSYJfW8Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U1nk9FYvEeW1S_zSYJfW8Q"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IE_TwW8MEeOF2v1EKwQ2xg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_IE_60G8MEeOF2v1EKwQ2xg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_IFBI8W8MEeOF2v1EKwQ2xg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IE_60W8MEeOF2v1EKwQ2xg" x="10" y="415" width="753" height="186"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yYfLFm8LEeOF2v1EKwQ2xg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yYfLEG8LEeOF2v1EKwQ2xg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yYfyIG8LEeOF2v1EKwQ2xg" x="81" y="18" width="799" height="637"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_yYi1dG8LEeOF2v1EKwQ2xg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_yYjcgG8LEeOF2v1EKwQ2xg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yYjcgW8LEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yYjcgm8LEeOF2v1EKwQ2xg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yYjcg28LEeOF2v1EKwQ2xg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yYjchG8LEeOF2v1EKwQ2xg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yYjchW8LEeOF2v1EKwQ2xg" x="72" y="143" width="135" height="203"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_yYekAm8LEeOF2v1EKwQ2xg"/>
    <edges xmi:id="_F_FXMG8MEeOF2v1EKwQ2xg" type="Transition" element="_F_DiAG8MEeOF2v1EKwQ2xg" source="_yYfyIm8LEeOF2v1EKwQ2xg" target="_BF6BwG8MEeOF2v1EKwQ2xg">
      <children xsi:type="notation:DecorationNode" xmi:id="_F_FXNG8MEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_F_FXNW8MEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_F_FXNm8MEeOF2v1EKwQ2xg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_F_FXMW8MEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_F_FXM28MEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_F_FXMm8MEeOF2v1EKwQ2xg" points="[7, 2, -152, -45]$[160, 34, 1, -13]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_F_HzcG8MEeOF2v1EKwQ2xg" id="(0.1016949152542373,0.14583333333333334)"/>
    </edges>
    <edges xmi:id="_QEI7oG8MEeOF2v1EKwQ2xg" type="Transition" element="_QEHtgG8MEeOF2v1EKwQ2xg" source="_hVKS5WjsEeWXrNiQgBpBVw" target="_hVKS8WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_QEI7pG8MEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QEI7pW8MEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QEI7pm8MEeOF2v1EKwQ2xg" x="4" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QEI7oW8MEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QEI7o28MEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QEI7om8MEeOF2v1EKwQ2xg" points="[18, -6, -176, -16]$[59, -6, -135, -16]$[59, -6, -135, -16]"/>
    </edges>
    <edges xmi:id="_sSlR4G8NEeOF2v1EKwQ2xg" type="Transition" element="_sSjcsG8NEeOF2v1EKwQ2xg" source="_hVKS8WjsEeWXrNiQgBpBVw" target="_hVKS5WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_sSlR5G8NEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sSlR5W8NEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sSl48G8NEeOF2v1EKwQ2xg" x="-5" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sSlR4W8NEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sSlR428NEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sSlR4m8NEeOF2v1EKwQ2xg" points="[0, 0, 79, 7]$[-18, 0, 61, 7]$[-50, 0, 29, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sSoVMG8NEeOF2v1EKwQ2xg" id="(0.0,0.6461538461538462)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sSoVMW8NEeOF2v1EKwQ2xg" id="(0.175,0.7)"/>
    </edges>
    <edges xmi:id="_5rcJYG8NEeOF2v1EKwQ2xg" type="Transition" element="_5raUMG8NEeOF2v1EKwQ2xg" source="_hVKS8WjsEeWXrNiQgBpBVw" target="_hVKS8WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_5rcJZG8NEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5rcJZW8NEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5rcwcG8NEeOF2v1EKwQ2xg" x="83" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5rcJYW8NEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5rcJY28NEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5rcJYm8NEeOF2v1EKwQ2xg" points="[4, 0, 26, 7]$[39, 0, 61, 7]$[39, -32, 61, -25]$[-15, -32, 7, -25]$[-15, -12, 7, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5rfMsG8NEeOF2v1EKwQ2xg" id="(0.9855072463768116,0.2153846153846154)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5rfMsW8NEeOF2v1EKwQ2xg" id="(0.9057971014492754,0.09230769230769231)"/>
    </edges>
    <edges xmi:id="_6KOXIG8NEeOF2v1EKwQ2xg" type="Transition" element="_6KMh8G8NEeOF2v1EKwQ2xg" source="_hVKS8WjsEeWXrNiQgBpBVw" target="_hVKS8WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6KO-MG8NEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6KO-MW8NEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6KO-Mm8NEeOF2v1EKwQ2xg" x="15" y="45"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6KOXIW8NEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6KOXI28NEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6KOXIm8NEeOF2v1EKwQ2xg" points="[49, 7, 27, -20]$[90, 7, 68, -20]$[90, 51, 68, 24]$[30, 51, 8, 24]$[30, 32, 8, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6KRacG8NEeOF2v1EKwQ2xg" id="(0.822463768115942,0.47692307692307695)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6KRacW8NEeOF2v1EKwQ2xg" id="(0.9021739130434783,0.9230769230769231)"/>
    </edges>
    <edges xmi:id="_NX2poG8OEeOF2v1EKwQ2xg" type="Transition" element="_NX00cG8OEeOF2v1EKwQ2xg" source="_BF6BwG8MEeOF2v1EKwQ2xg" target="_U1nkxVYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_NX3QsG8OEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NX3QsW8OEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NX3Qsm8OEeOF2v1EKwQ2xg" x="-21" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NX2poW8OEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NX2po28OEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NX2pom8OEeOF2v1EKwQ2xg" points="[-4, 5, 69, -91]$[-69, 90, 4, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NX5s8G8OEeOF2v1EKwQ2xg" id="(0.145,0.9882352941176471)"/>
    </edges>
    <edges xmi:id="_YcCIwG8OEeOF2v1EKwQ2xg" type="Transition" element="_YcATkG8OEeOF2v1EKwQ2xg" source="_U1nkzlYvEeW1S_zSYJfW8Q" target="_U1nk2lYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_YcCv0W8OEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YcCv0m8OEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YcCv028OEeOF2v1EKwQ2xg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YcCIwW8OEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YcCv0G8OEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YcCIwm8OEeOF2v1EKwQ2xg" points="[70, 8, -139, 12]$[111, 13, -98, 17]$[169, 3, -40, 7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xo5PkFYtEeW1S_zSYJfW8Q" id="(0.1971153846153846,0.41509433962264153)"/>
    </edges>
    <edges xmi:id="_vI1Q0G8OEeOF2v1EKwQ2xg" type="Transition" element="_vIzboG8OEeOF2v1EKwQ2xg" source="_U1nkxVYvEeW1S_zSYJfW8Q" target="_U1nkzlYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_vI134W8OEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vI134m8OEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vI13428OEeOF2v1EKwQ2xg" x="30" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vI1Q0W8OEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vI134G8OEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vI1Q0m8OEeOF2v1EKwQ2xg" points="[7, -1, -104, 19]$[105, -42, -6, -22]"/>
    </edges>
    <edges xmi:id="_8tg90G8OEeOF2v1EKwQ2xg" type="Transition" element="_8tfvsG8OEeOF2v1EKwQ2xg" source="_U1nk2lYvEeW1S_zSYJfW8Q" target="_U1nkzlYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_8tg91G8OEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8tg91W8OEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8tg91m8OEeOF2v1EKwQ2xg" x="11" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8tg90W8OEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8tg9028OEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8tg90m8OEeOF2v1EKwQ2xg" points="[-92, 0, 231, -29]$[-186, 0, 137, -29]$[-253, 14, 70, -15]"/>
    </edges>
    <edges xmi:id="_gMYfSVRCEeSqd5gSFVgpoA" type="Transition" element="_gMYfUVRCEeSqd5gSFVgpoA" source="_IE_TwG8MEeOF2v1EKwQ2xg" target="_hVKS_WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gMYfSlRCEeSqd5gSFVgpoA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gMYfS1RCEeSqd5gSFVgpoA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gMYfTFRCEeSqd5gSFVgpoA" x="-24" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gMYfTVRCEeSqd5gSFVgpoA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gMYfTlRCEeSqd5gSFVgpoA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gMYfT1RCEeSqd5gSFVgpoA" points="[0, -3, 18, 127]$[-15, -137, 3, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gMYfUFRCEeSqd5gSFVgpoA" id="(0.055,0.012396694214876033)"/>
    </edges>
    <edges xmi:id="_Jnz0kG8QEeOF2v1EKwQ2xg" type="Transition" element="_JnxYUG8QEeOF2v1EKwQ2xg" source="_hVK6A2jsEeWXrNiQgBpBVw" target="_hVK6DGjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Jnz0lG8QEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Jn0boG8QEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Jn0boW8QEeOF2v1EKwQ2xg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Jnz0kW8QEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Jnz0k28QEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Jnz0km8QEeOF2v1EKwQ2xg" points="[7, 0, -85, -3]$[93, -15, 1, -18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Jn2Q0G8QEeOF2v1EKwQ2xg" id="(0.14516129032258066,0.42)"/>
    </edges>
    <edges xmi:id="_N27gYG8QEeOF2v1EKwQ2xg" type="Transition" element="_N25rMG8QEeOF2v1EKwQ2xg" source="_hVK6DGjsEeWXrNiQgBpBVw" target="_hVK6GGjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_N28HcW8QEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_N28Hcm8QEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_N28Hc28QEeOF2v1EKwQ2xg" x="3" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_N27gYW8QEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_N28HcG8QEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_N27gYm8QEeOF2v1EKwQ2xg" points="[27, -8, -122, 1]$[151, -17, 2, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_N2-jsG8QEeOF2v1EKwQ2xg" id="(0.3333333333333333,0.18)"/>
    </edges>
    <edges xmi:id="_Pi22sG8QEeOF2v1EKwQ2xg" type="Transition" element="_Pi1BgG8QEeOF2v1EKwQ2xg" source="_hVK6GGjsEeWXrNiQgBpBVw" target="_hVK6DGjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Pi3dwG8QEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Pi3dwW8QEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Pi3dwm8QEeOF2v1EKwQ2xg" x="-3" y="-5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Pi22sW8QEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Pi22s28QEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Pi22sm8QEeOF2v1EKwQ2xg" points="[-1, 3, 135, 12]$[-136, 14, 0, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Pi56AG8QEeOF2v1EKwQ2xg" id="(0.041666666666666664,0.58)"/>
    </edges>
    <edges xmi:id="_Xdl4oG8QEeOF2v1EKwQ2xg" type="Transition" element="_XdkqgG8QEeOF2v1EKwQ2xg" source="_hVKS5WjsEeWXrNiQgBpBVw" target="_hVK59mjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xdl4pG8QEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xdl4pW8QEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xdl4pm8QEeOF2v1EKwQ2xg" x="11" y="-53"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Xdl4oW8QEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xdl4o28QEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Xdl4om8QEeOF2v1EKwQ2xg" points="[4, 9, -90, -70]$[40, 79, -54, 0]$[85, 79, -9, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xdnt0G8QEeOF2v1EKwQ2xg" id="(0.42,0.82)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xdnt0W8QEeOF2v1EKwQ2xg" id="(0.026737967914438502,0.09395973154362416)"/>
    </edges>
    <edges xmi:id="_fe-8MG8QEeOF2v1EKwQ2xg" type="Transition" element="_fe9HAG8QEeOF2v1EKwQ2xg" source="_hVK59mjsEeWXrNiQgBpBVw" target="_hVKS5WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fe-8NG8QEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fe-8NW8QEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fe_jQG8QEeOF2v1EKwQ2xg" x="-56" y="67"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fe-8MW8QEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fe-8M28QEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fe-8Mm8QEeOF2v1EKwQ2xg" points="[-2, -7, 77, 182]$[-79, -7, 0, 182]$[-79, -165, 0, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ffBYcG8QEeOF2v1EKwQ2xg" id="(0.0053475935828877,0.5637583892617449)"/>
    </edges>
    <edges xmi:id="_Ex6AIG8REeOF2v1EKwQ2xg" type="Transition" element="_Ex4yAG8REeOF2v1EKwQ2xg" source="_U1nk2lYvEeW1S_zSYJfW8Q" target="_U1nk5lYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ex6AJG8REeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ex6AJW8REeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ex6AJm8REeOF2v1EKwQ2xg" x="-15" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ex6AIW8REeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ex6AI28REeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ex6AIm8REeOF2v1EKwQ2xg" points="[65, -24, -163, 1]$[128, -47, -100, -22]$[190, -33, -38, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ex71UG8REeOF2v1EKwQ2xg" id="(0.4067796610169492,0.18)"/>
    </edges>
    <edges xmi:id="_PjLKUG8REeOF2v1EKwQ2xg" type="Transition" element="_PjJVIG8REeOF2v1EKwQ2xg" source="_U1nk5lYvEeW1S_zSYJfW8Q" target="_U1nk2lYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_PjLxYW8REeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PjLxYm8REeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PjLxY28REeOF2v1EKwQ2xg" x="-4" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PjLKUW8REeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PjLxYG8REeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PjLKUm8REeOF2v1EKwQ2xg" points="[-4, -13, 4, 58]$[-4, -54, 4, 17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PjONoG8REeOF2v1EKwQ2xg" id="(0.8076923076923077,0.2777777777777778)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PjONoW8REeOF2v1EKwQ2xg" id="(0.7932692307692307,0.6666666666666666)"/>
    </edges>
    <edges xmi:id="_RNORUG8REeOF2v1EKwQ2xg" type="Transition" element="_RNMcIG8REeOF2v1EKwQ2xg" source="_U1nk5lYvEeW1S_zSYJfW8Q" target="_U1nk2lYvEeW1S_zSYJfW8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_RNO4YW8REeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RNO4Ym8REeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RNO4Y28REeOF2v1EKwQ2xg" x="68" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RNORUW8REeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RNO4YG8REeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RNORUm8REeOF2v1EKwQ2xg" points="[-80, 28, 171, 17]$[-181, 63, 70, 52]$[-234, 23, 17, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RNRUoG8REeOF2v1EKwQ2xg" id="(0.8942307692307693,0.42592592592592593)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RNRUoW8REeOF2v1EKwQ2xg" id="(0.9182692307692307,0.6481481481481481)"/>
    </edges>
    <edges xsi:type="notation:Connector" xmi:id="_r--_cG8YEeOF2v1EKwQ2xg" type="NoteAttachment" source="_hVK6N2jsEeWXrNiQgBpBVw" target="_6KOXIG8NEeOF2v1EKwQ2xg" lineColor="4210752" lineWidth="1">
      <styles xsi:type="notation:ArrowStyle" xmi:id="_r--_cW8YEeOF2v1EKwQ2xg"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_r--_cm8YEeOF2v1EKwQ2xg"/>
      <element xsi:nil="true"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r--_c28YEeOF2v1EKwQ2xg" points="[0, 1, 187, 4]$[-182, 19, 5, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r_Cp0G8YEeOF2v1EKwQ2xg" id="(0.0,0.6071428571428571)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r_DQ4G8YEeOF2v1EKwQ2xg" id="(0.24,0.8309859154929577)"/>
    </edges>
    <edges xmi:id="_RHs-gG8ZEeOF2v1EKwQ2xg" type="Transition" element="_RHrwYG8ZEeOF2v1EKwQ2xg" source="_hVK6DGjsEeWXrNiQgBpBVw" target="_hVK6JGjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_RHs-hG8ZEeOF2v1EKwQ2xg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RHs-hW8ZEeOF2v1EKwQ2xg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RHs-hm8ZEeOF2v1EKwQ2xg" x="-17" y="20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RHs-gW8ZEeOF2v1EKwQ2xg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RHs-g28ZEeOF2v1EKwQ2xg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RHs-gm8ZEeOF2v1EKwQ2xg" points="[46, 12, -79, -18]$[127, 55, 2, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RHuzsG8ZEeOF2v1EKwQ2xg" id="(0.6976744186046512,0.8)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RHuzsW8ZEeOF2v1EKwQ2xg" id="(0.21818181818181817,0.46)"/>
    </edges>
    <edges xmi:id="_KRnkUfZlEeSXQ-FYirTNkw" type="Transition" element="_KRnkWPZlEeSXQ-FYirTNkw" source="_hVK6PWjsEeWXrNiQgBpBVw" target="_hVKS5WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_KRnkVfZlEeSXQ-FYirTNkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KRnkV_ZlEeSXQ-FYirTNkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KRnkVvZlEeSXQ-FYirTNkw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KRnkVPZlEeSXQ-FYirTNkw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KRnkU_ZlEeSXQ-FYirTNkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KRnkUvZlEeSXQ-FYirTNkw" points="[5, 5, -36, -44]$[45, 73, 4, 24]"/>
    </edges>
    <edges xmi:id="_53_DcPZkEeSXQ-FYirTNkw" type="Transition" element="_538nMPZkEeSXQ-FYirTNkw" source="_hVKS_WjsEeWXrNiQgBpBVw" target="_hVKS5WjsEeWXrNiQgBpBVw">
      <children xsi:type="notation:DecorationNode" xmi:id="_54BfsPZkEeSXQ-FYirTNkw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_54BfsfZkEeSXQ-FYirTNkw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_54CGwPZkEeSXQ-FYirTNkw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_53_DcfZkEeSXQ-FYirTNkw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_54ARkPZkEeSXQ-FYirTNkw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_53_DcvZkEeSXQ-FYirTNkw" points="[1, -7, -33, 261]$[32, -246, -2, 22]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_54INYPZkEeSXQ-FYirTNkw" id="(0.22,0.5471698113207547)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
